{% extends 'meetups/master/master.html' %}
{% load static %}

{% block site_title %} Registration Success! {% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock %}

{% block site_main_header %}
    Thanks for signing up!
{% endblock %}

{% block site_content %}
    <section id="confirmation">
        <h2>You registered successfully!</h2>
        <p>Thanks for signing up - see you at the meetup!</p>
        <p>Got Questions or can't make it? Please <a href="">contact the organizer</a> ahead of time!</p>
    </section>

    <section id="continue">
        <p>Of course you can sign up for more than one meetup!</p>
        <p><a href="/meetups" class="btn">Explore our Meetups</a></p>
    </section>
    
{% endblock %}